*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Dancing Script", cursive;
}
body,
html {
  height: 100%;
  background-color: black;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}
img {
  width: auto;
  display: flex;
  flex: auto;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: none;
}
/*needs looking at */
.fa-brands {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  color: white;
  display: inline;
  top: 2.5px;
  right: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
}
/*needs looking at */
button {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.about {
  background-color: white;
  padding: 60px;
}
h3 {
  color: white;
  padding: 20px 60px 20px 60px;
}

h4 {
  text-align: center;
  color: white;
}
.p1 {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  padding-top: 10px;
}
#getin {
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
}
/*start of card stuff*/
.card {
  width: auto;
  margin: 60px;
  background-color: crimson;
  padding-bottom: 20px;
  margin-top: 0;
}
.card-space1 {
  background-color: blueviolet;
  padding-top: 150px;
  margin-bottom: 20px;
}
.card-space2 {
  background-color: rgb(80, 226, 43);
  padding-top: 150px;
  margin-bottom: 20px;
}
.card-space3 {
  background-color: rgb(43, 183, 226);
  padding-top: 150px;
  margin-bottom: 20px;
}
/*end of cards*/
/*send msg stuff*/
label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  margin: auto;
  width: 100%;
  min-height: 2em;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
label {
  color: white;
}
fieldset {
  padding-left: 60px;
  padding-right: 60px;
  border: none;
  padding-bottom: 25px;
}
input[type="submit"] {
  height: 2em;
  font-size: 1.1rem;
  background-color: #3baf4e;
  border: none;
  margin: auto;
  color: white;
}
/*end of send msg stuff*/
footer {
  background-color: rgb(43, 42, 42);
  color: white;
  text-align: center;
}
.div-card {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}
.div-card {
  flex-wrap: wrap;
}
/*tablet start*/
@media screen and (max-width: 800px) {
  .div-card {
    flex-wrap: wrap;
  }
  .card {
    width: 250px;
  }
}
/*tablet end*/
/*desktop start*/
@media screen and (min-width: 900px) {
  .div-card {
    flex-wrap: wrap;
  }
  .card {
    width: 300px;
  }
  section {
    display: block;
  }
  #getin {
    display: none;
  }
  .h3 {
    display: none;
  }
  h3 {
    font-size: 26px;
  }
  fieldset {
    width: 45%;
    height: 400px;
  }
  h1 {
    font-size: 65px;
  }
  p {
    font-size: 30px;
  }
  h2 {
    font-size: 50px;
  }
  h4 {
    font-size: 40px;
  }
  .p1 {
    font-size: 20px;
  }
  button {
    font-size: 20px;
  }
}
/*desktop end*/
